<configuration>
  <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
    <append>false</append>
    <encoder>
      <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [thread:%thread] %-5level %logger{36} - %msg%n</pattern>
      <!-- [%d][%p][${main:hostName}][thread:%t][logger:%c] %m%n -->
    </encoder>
    <file>${user.home}/.local/var/log/azure-cosmos-cassandra-spring-boot-app-example.log</file>
  </appender>
  <root level="debug">
    <appender-ref ref="LOGFILE" />
  </root>
</configuration>